{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "Consent Page" %}{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
    <div class="form-content my-3 p-3">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center">
                        	<h3 class="font-weight-light my-4 text-center">Terms & Condition</h3>
                        </div>
                        <div class="card-body">
                            This is terms and condition. I shall agree to following terms and condition.
                            1st. 
                            2nd. 
                            3rd. 
                            ABCDEFGHIJKLMN. 
                            This will be updated later. 
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'registration' %}">Go back to registration</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock content %}