{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "django-two-factor-auth – Demo Application" %}{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <h1>{% blocktrans trimmed %}Hello {{user.first_name.title|default:'Guest'}} {% endblocktrans %}</h1>
  <p>{% blocktrans trimmed %}Welcome to the app of
      <code>aberdeen</code>. The purpose of the app is to investigate and test different identity access management features. Use this web application to get an
    understanding of what the app can do for you.{% endblocktrans %}</p>

  <h4>{% trans "Next steps:" %}</h4>
  <ol>
    <li>{% blocktrans trimmed %}Register Account{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Enable Two-Factor Authentication{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Social Login (Google, Okta){% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Password Reset{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Your Profile Page with Social Connections{% endblocktrans %}</li>
  </ol>

  <h4>{% trans "Planned Updates:" %}</h4>
  <ol>
    <li>{% blocktrans trimmed %}iAMSmart Social Login{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Single Sign-On to the other application(s){% endblocktrans %}</li>
  </ol>
{% endblock %}
